@model PToDoListCF.Models.Citas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Citas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Medico.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medico.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usersxd.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usersxd.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pagado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pagado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CitasID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
